<h1>Appearance</h1>
 <br>
 <p><%= @appearance.episode.date %> <p>
 <p><%= @appearance.guest.name %> <p>
 <p><%= @appearance.rating %> <p>
<br> 
<%= link_to "Edit", edit_appearance_path(@appearance) %>


